[submodule "dvk"]
	path = dvk
	url = https://github.com/davask/dvk.git
[submodule "wp-content/themes/twentyfourteen-child-init"]
	path = wp-content/themes/twentyfourteen-child-init
	url = https://github.com/davask/twentyfourteen-child-init.git
